[submodule "layers/hmz-misc/local/fira-code-mode"]
	path = layers/hmz-misc/local/fira-code-mode
	url = https://github.com/jming422/fira-code-mode.git
[submodule "layers/hmz-misc/local/rubocopfmt.el"]
	path = layers/hmz-misc/local/rubocopfmt.el
	url = https://github.com/jimeh/rubocopfmt.el.git
[submodule "gcmh"]
	path = layers/hmz-misc/local/gcmh
	url = https://github.com/emacsmirror/gcmh.git
[submodule "layers/hmz-misc/local/evil-ruby-text-objects"]
	path = layers/hmz-misc/local/evil-ruby-text-objects
	url = https://github.com/porras/evil-ruby-text-objects.git
[submodule "layers/hmz-misc/local/rotate-text.el"]
	path = layers/hmz-misc/local/rotate-text.el
	url = https://github.com/nschum/rotate-text.el.git
[submodule "layers/hmz-misc/local/doom-todo-ivy"]
	path = layers/hmz-misc/local/doom-todo-ivy
	url = https://github.com/jsmestad/doom-todo-ivy.git
[submodule "layers/hmz-misc/local/rspec-simple"]
	path = layers/hmz-misc/local/rspec-simple
	url = https://github.com/code-mancers/rspec-simple.git
[submodule "todo-projectile"]
	path = layers/hmz-misc/local/todo-projectile
	url = https://github.com/WolfeCub/todo-projectile.git
[submodule "layers/hmz-misc/local/restore-frame-position"]
	path = layers/hmz-misc/local/restore-frame-position
	url = https://github.com/aaronjensen/restore-frame-position.git
[submodule "layers/hmz-misc/local/persp-mode-projectile-bridge.el"]
	path = layers/hmz-misc/local/persp-mode-projectile-bridge.el
	url = https://github.com/Bad-ptr/persp-mode-projectile-bridge.el.git
[submodule "layers/hmz-misc/local/workgroups.el"]
	path = layers/hmz-misc/local/workgroups.el
	url = https://github.com/tlh/workgroups.el.git
